@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --color-dark: hsl(252, 30%, 17%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 10%);
    --color-white: white;
    

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}




body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}



/* General Style -------------------------------------------------*/


.container{
    width: 80%;
    margin: 0 auto;
}

.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
}


.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}


.btn-primary{
    background: var(--color-primary);
    color: white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}

i.fa-solid{
    color: var(--color-dark);
    cursor: pointer;
}

/* -------------------------nav-----------------------------------------*/


nav{
    width: 100%;
    background: var(--color-gray);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}


nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}


nav .search-bar input[type="search"]::placeholder{
    columns: var(--color-gray);
}


nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}


nav .create .menu ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .create .menu ul li i{
    font-size: 2rem;
}




/*------------------------Main----------------------------*/

main{
    position: relative;
    top: 5.4rem;
}




main .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}



.Card{
    background-color: var(--color-secondary);
    width: 100%;
    padding: var(--card-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}


.Card label{
    width: 50%;
}



.Card select{
    text-align: center;
    width: 50%;
}

